:root{
  background-color: #f5f4f0;
}

body{
  padding: 40px;
}

h2{
  font-size: 22px;
  color: #E1624F
}

h1{
  font-size: 49px;
  color: #1B1B1B;
}

img{
  width: 1120px;
  height: 660px;
  border-radius: 28px;
}

h3{
  color: #333333;
}