* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #f5f4f0;
  color: #1b1b1b;
}

#page {
  width: 1120px;
  margin: 88px auto;
}

.headline {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #e1624f;
  margin-bottom: 8px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

#presentation img {
  width: 100%;
  border-radius: 28px;
  display: block;
  margin-bottom: 24px;
}
p.description {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #333333;
  font-style: italic;
  margin-bottom: 40px;
}

#information{
  margin-top: 64px;
  max-width: 1120px;
  margin-bottom: 40px;
}

#information h2{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1b1b1b;
}

#information img {
  width: 100%;
  height: 350px;
  border-radius: 28px;
  display: block;
  margin-bottom: 20px;
  margin-top: 48px;
  object-fit: cover;
}

ol{
  margin: 0 auto;
  margin-top: 64px;
  padding-left: 0;
  list-style-position: inside;
}

ol li{
  margin-bottom: 48px;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1b1b1b;
}


ol li p{
  font-size: 16px;
  line-height: 1.6;
  max-width: 1120px;
  font-weight: 500;
  color: #333333;
}

ol li::marker {
  font-weight: bold;
  color: #1b1b1b;
}

.strong{
   font-weight: bold;
}

ul{
  list-style-type: circle;
  
}
ul li{
  margin-left: 20px;
}

p.center {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #333333;
  margin-top: 80px;
}

.bluestrong{
  font-size: 16px;
  color: #0C51A7;
  font-weight: bold;
}

.orangestrong{
  font-size: 16px;
  color: #E95E10;
  font-weight: bold;
}

.pinkstrong{
  font-size: 16px;
  color: #E5245E;
  font-weight: bold;
}

.purplestrong{
  font-size: 16px;
  color: #591B98;
  font-weight: bold;
}

footer{
  color: #333333;
  text-align: center;
  padding-bottom: 48px;
}

footer img{
  vertical-align: middle;
  color: #333333;;
}